# PHOBO_CAMERA_MODE options: mock | command | eos-watch | browser-video
PHOBO_CAMERA_MODE=browser-video
PHOBO_CAMERA_CAPTURE_DIR=C:\PhoboCameraCaptures
PHOBO_CAMERA_CAPTURE_TIMEOUT_MS=20000

PHOBO_CAMERA_COMMAND_PATH=
PHOBO_CAMERA_COMMAND_ARGS_TEMPLATE=/filename "{output}" /capture

# Validated Canon 600D command mode using digiCamControl:
# PHOBO_CAMERA_MODE=command
# PHOBO_CAMERA_CAPTURE_DIR=C:\PhoboCameraCaptures
# PHOBO_CAMERA_CAPTURE_TIMEOUT_MS=20000
# PHOBO_CAMERA_COMMAND_PATH=C:\Program Files (x86)\digiCamControl\CameraControlCmd.exe
# PHOBO_CAMERA_COMMAND_ARGS_TEMPLATE=/filename "{output}" /capture

PHOBO_PRINTER_MODE=mock
PHOBO_PRINTER_NAME=SELPHY CP1500
PHOBO_PRINT_COMMAND_MODE=powershell-printto
PHOBO_PRINT_PAPER=4R
PHOBO_PRINT_WIDTH_PX=1748
PHOBO_PRINT_HEIGHT_PX=1181

PHOBO_STORAGE_MODE=local
PHOBO_DRIVE_ENABLED=false
GOOGLE_DRIVE_AUTH_MODE=oauth
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_REFRESH_TOKEN=
GOOGLE_APPLICATION_CREDENTIALS=
GOOGLE_DRIVE_FOLDER_ID=
PHOBO_RESULTS_DIR=public/results

PHOBO_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000

MIDTRANS_ENABLED=false
MIDTRANS_IS_PRODUCTION=false
MIDTRANS_SERVER_KEY=
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=

NEXT_PUBLIC_CAMERA_DEBUG=false
NEXT_PUBLIC_PAYMENT_DEBUG=false
PHOBO_DEBUG_LOGS=false

# EOS Utility 2 folder-watch mode for Canon 600D
# PHOBO_CAMERA_MODE=eos-watch
# PHOBO_EOS_WATCH_DIR=C:\PhoboCameraIncoming
# PHOBO_CAMERA_CAPTURE_TIMEOUT_MS=20000
# PHOBO_EOS_ALLOWED_EXTENSIONS=.jpg,.jpeg,.png
